#shortAnswers,
#multipleChoice,
#trueFalse {
  display: none;
}

span {
  display: inline-flex;
  align-items: center;
}

#questionsPage {
  display: none;
  padding: 30px;
}

/* body {
  padding: 30px;
  font-family: "Segoe UI";
} */

#page {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#questionsNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.questionsNavButtons {
  border: none;
  font-size: 24px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}
.questionsNavButtons:focus {
  outline: none;
  border: none;
}

#questionsName {
  border: none;
  font-size: 24px;
  font-weight: 400;
}

#goHomeButton {
  color: #5d5d5d;
}

#jumpToAnswersButton {
  color: #9b9b9b;
}

#exportPDFButton {
  color: #61a8f8;
}

#questionsAndAnswersContainer {
  margin-top: 60px;
}

.shortAnswerQuestionAndInput {
  width: 80%;
  margin-top: 75px;
}

.shortAnswerQuestions {
  font-size: 16px;
}

.shortAnswerInputs {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
  margin-top: 5px;
  border-bottom-color: #b5d3f6;
}
.shortAnswerInputs:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #333333;
  animation-name: shortAnswersInputAnimation;
  animation-duration: 0.25s;
}
@keyframes shortAnswersInputAnimation {
  from {
    border-bottom-color: #b5d3f6;
  }
  to {
    border-bottom-color: #333333;
  }
}

.multipleChoiceQuestionAndInput {
  margin-top: 75px;
}

.multipleChoiceButton {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border: none;
  background-color: #e1e1e1;
}
.multipleChoiceButton:focus {
  outline: none;
}
.multipleChoiceButton:hover {
  cursor: pointer;
}

.multipleChoiceAnswers {
  margin-left: 10px;
}

.multipleChoiceChoice {
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: 40%;
  min-width: 273px;
}
.multipleChoiceChoice:hover {
  cursor: pointer;
}

#questionsSubmitButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #61a8f8;
  height: 80px;
  width: 100px;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #5d5d5d;
  color: white;
  cursor: pointer;
}
#questionsSubmitButton:hover {
  background-color: #0379ff;
  animation-name: questionsSubmitButtonAnimation;
  animation-duration: 0.15s;
}
@keyframes questionsSubmitButtonAnimation {
  from {
    background-color: #61a8f8;
  }
  to {
    background-color: #0379ff;
  }
}
#questionsSubmitButton:focus {
  outline: none;
}
